<!--The content below is only a placeholder and can be replaced.-->
<button *ngIf="!peerBtn" (click)="peerBtn = !peerBtn"  [routerLink]="[ '/peer' ]" > [Go to peer]</button>
<button *ngIf="peerBtn" (click)="peerBtn = !peerBtn"[routerLink]="[ '/' ]"> [Back to home]</button>

<router-outlet></router-outlet>
